<head>
    <link rel="stylesheet" href="{{ '/css/header.css' | absolute_url }}">
</head>

<body>
    <header>
        <div class="{% if page.url == '/' %}transparent-header{% endif %}">
        <div class="header-container">
            <h1><a href="{{ '/' | absolute_url }}">GOBLUE</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ '/' | absolute_url }}">About</a></li>
                    <li><a href="{{ '/people' | absolute_url }}">People</a></li>
                    <li><a href="{{ '/datasets' | absolute_url }}">Datasets</a></li>
                    <li><a href="{{ '/other' | absolute_url }}">Other</a></li>
                </ul>
            </nav>
        </div>
        </div>
    </header>

    <script src="../js/header.js"></script>
</body>