<header>
    <div class="header-container">
        <h1><a href="{{ '/' | absolute_url }}">Landslide Detection</a></h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | absolute_url }}">About</a></li>
                <li><a href="{{ '/people/' | absolute_url }}">People</a></li>
                <li><a href="{{ '/datasets/' | absolute_url }}">Datasets</a></li>
                <li><a href="{{ '/other/' | absolute_url }}">Other</a></li>
            </ul>
        </nav>
    </div>
</header>
